html{
 background-image: linear-gradient(to bottom,$offWhite 0%,$lightBlue 15%,$offWhite 60%,$black 95%);
 font-size: 1.2em;
}
body {
  width: 87%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom,$darkGreen 15%,$blue 50%,$brownish 70%,$lightGreen 90%);
  color: lavender;
  font: 1em $openSans;
}
@for $item from 1 through 6{
  h#{$item} {
	  font-family : $cinzelDecor;
	  color : $greyishGreen;
	  font-weight: 900;
	}
}
h1{
	font-size: 2.2em;
	text-align: center;
}
h2{
	font-size: 2.0em;
	color : $darkBlue;
}
h3{
	font-size: 1.8em;
	color: $skyBlue;
}
h4{
	font-size: 1.4em;
	color : $offWhite;
}
p{
	text-indent: 1.5em;
	margin: 0 0 1em 0;
}
figure{
	& figcaption{
	margin: 0 auto;
	}
	& img{
	margin: 0 auto;
	}
}
img{
	max-width: 100%;
}
.navbar li.disabled a {
  color: #777777;
}
.navbar li.disabled a:hover,
.navbar li.disabled a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
a{
	font-family: $berkshire;
	font-weight: normal;
	&:visited{
		color: $lightBlue;
	}
	&:focus,&:hover{
		background-color: $white;
		color: $skyBlue;
		text-decoration: underline;
	}
	&:active{
		color: $darkBlue;
		text-decoration: underline;
	}
}
.btn{
		float: right;
		background: none;
		border: none;
		box-shadow: none;
		&:focus, &:hover{
			background: none;
			border: none;	
	}
}	
strong{
	font-style: bold;
	font-weight: 700;
}
em{
	font-style : italic;
}
dl {
	margin: 2em 0;
	padding: 0;
	width: 100%;
}
dt {
	color: #FFFFFF;
	padding: 0;
	font-family: Bitter, Georgia, Times, "Times New Roman", serif;
	font-size: 1.6em;
	line-height: 45px;
	text-align: center;
	background-image: linear-gradient(135deg,$skyBlue 15%, $lightGreen 90%);
	& a:visited{
		color: brown;
	}
	& a:focus{
		color: darkturquoise;
	}
}
dd {
	margin: 0 0 1em 0;
	background-image: linear-gradient(45deg,$darkGreen, $darkBlue);
	text-align: center;
	padding: 1em .5em;
	font-style: italic;
}
dl#linkContainer{
	& dt{
	background-image: linear-gradient(135deg,$darkGreen 4%,transparentize($skyBlue, 0.3) 20%,$lightBlue 50%,transparentize($skyBlue, 0.3) 75%,$darkGreen 96%);
	}
	& dd{
	background-image: linear-gradient(45deg,$darkGreen, $darkBlue);
	}
}
abbr{
	border-bottom: none;
}
ul{
	text-align: center;
}
header{
	box-shadow: 0.01em 0.01em 0.1em 0.1em $offWhite;
    & .navbar-default{
	display: block;
	background-color: $darkBlack;
	background-image: none;
	border-color: $bluishBlack;
	padding : 0.75em;
		& .page-header{
			position: relative;
			width : 97%;
			margin: 0;
			& .navbar-header button{
				margin-top: 0;
				float: right;
			}
		}
		& .collapse.in,& .collapse,& .collapsing{
			padding: 0;
			margin: 0;
			width : 97%;
			@media screen and (min-width: 48em){
				& {
					background-image: linear-gradient(135deg,$darkBlack 10%,darken($blue,10%) 20%,$darkBlack 50%,darken($blue,10%) 80%,$darkBlack 90%);
					}
				& li a:focus{
						background-color: $darkBlack;
					}
				& li.disabled a:focus,
				& li.disabled a:hover{
				  background-color: transparent;
				}
			}
			& ul li{
				display: inline-block;
				width: 40%;
				min-height: 3.073em;
				@media screen and (min-width: 48em){
					& {
						display: inline-block;
						width: 15.46%;
					}
				}
				& a{
					width: 96.37%;
					vertical-align: middle;
					padding: 10%;
					min-height: 58.88px;
					display : inline-block;
					font-size: 100%;
					text-align: center;
					line-height: 1.5;
					transition: all 0.5s ease-in-out;
				}
				@media screen and (max-width: 22.81em){
					& a{
						font-size: 75%;
					}
				}
				& a:hover{
					background-color: $white;
					color: $darkBlue;
				}
			}
			& ul li.disabled a:focus,
			& ul li.disabled a:hover{
				  color: #777777;
				  text-decoration: none;
				  background-color: transparent;
			}
		}
		& button{
			display: inline;
			margin: 0.5em auto 0;
			border: none;
		}
		& .navbar-toggle:focus, & .navbar-toggle:hover {
			background-color: $darkBlack;
			border: 0.1em solid  $bluishBlack;
		}
		& .navbar-collapse, & .navbar-form{
			border: none;
		}
		& #tagline{
			text-indent: 0;
			text-align: center;
		}
	}
}
main {
	position: relative;
	& section p.borderBottom{
		border-bottom: 1px solid $offWhite;
	}
	& section div.collapse p{
		border-bottom: none;
	}
	& p button.btn{
		position: absolute;
		float: right;
		background: none;
		border: none;
		box-shadow: none;
		&:focus, &:hover{
			background: none;
			border: none;	
		}
	}	
}
.carousel-control.left, .carousel-control.right{
	background-image: none;
	color: opacify($white, 1.0);
}
footer{
	background-image: linear-gradient(135deg,$darkGreen 40%,$offWhite 80%);
	min-height: 10em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 0.5em -0.7em 0;
	border-radius: 1.5em 1.5em 0 0;
	& div{
	margin: 0 auto;
	}
	& button.btn-default{
		background-image: linear-gradient(135deg ,$offWhite 0%,$darkBlack 50%);
		width: 9.5em;
		min-height: 4.25em;
		margin: 0 auto 0.5em;
	}
	& button.btn-default a{
		font-size: 2.2em;
	}
	& button.btn-default a:focus{
		text-decoration: none;
	}
	& p{
		margin: 0 auto;
		text-indent : 0;
		& small{
			text-align: center;
			font-size: 0.65em;
		}
	}
}
.btn-default:focus, .btn-default:hover{
	background: none;
	background-image: linear-gradient(135deg ,$offWhite 0%,$darkBlack 50%);
}
section#asideSection{
	padding: 1.5em;
	background: url('../images/stripes.jpg') 50%/cover no-repeat border-box;
	border-radius: 0.5em;
	color: $skyBlue;
	font-weight: 700;
}