body{
	width : 90%;
	margin : 0 auto;
	background-color: $black;
	color : $whitishGreen;
	font: 1.2em $caudex;
}
@for $item from 1 through 6{
  h#{$item} {
	  font-family : $cinzelDecor;
	  color : $greyishGreen;
	  font-weight: 900;
	}
}
a{
	font-family: $berkshire;
}
strong{
	font-style: bold;
	font-weight: 700;
}
em{
	font-style : italic;
}