html{
 background-image: linear-gradient(to bottom,$offWhite 0%,$lightBlue 15%,$offWhite 50%,$black 75%);
}
body {
  width: 80%;
  margin: 0 auto;
  background-color : $bluishBlack;
  color: $whitishGreen;
  font: 1.2em $caudex;
}
@for $item from 1 through 6{
  h#{$item} {
	  font-family : $cinzelDecor;
	  color : $greyishGreen;
	  font-weight: 900;
	}
}
h1{
	font-size: 2.2em;
	text-align: center;
}
h2{
	font-size: 2.0em;
	color : $darkBlue;
}
h3{
	font-size: 1.8em;
	color: $skyBlue;
}
h4{
	font-size: 1.4em;
	color : $offWhite;
}
p{
	text-indent: 1.5em;
	margin: 0 0 1em 0;
}
.navbar li.disabled a {
  color: #777777;
}
.navbar li.disabled a:hover,
.navbar li.disabled a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
a{
	font-family: $berkshire;
	&:visited{
		color: $lightBlue;
	}
	&:focus,&:hover{
		background-color: $white;
		color: $skyBlue;
		text-decoration: underline;
	}
	&:active{
		color: $darkBlue;
		text-decoration: underline;
	}
}
.btn{
		float: right;
		background: none;
		border: none;
		box-shadow: none;
		&:focus, &:hover{
			background: none;
			border: none;	
	}
}	
strong{
	font-style: bold;
	font-weight: 700;
}
em{
	font-style : italic;
}
header{
	box-shadow: 0.01em 0.01em 0.1em 0.1em $offWhite;
    & .navbar-default{
	display: block;
	background-color: $darkBlack;
	background-image: none;
	border-color: $bluishBlack;
	padding : 1.5em;
		& .collapse.in,& .collapse,& .collapsing{
			& ul li{
				display: inline-block;
				width: 5.15em;
				& a{
					width: 4.583333333em;
					padding: 0.52em;
					min-height: 3.5em;
					display : inline-block;
					text-align: center;
					line-height: 1.85em;
					transition: all 0.5s ease-in-out;
				}
				& a:hover{
					background-color: $white;
					color: $darkBlue;
				}
			}
			& ul li.disabled a:hover,
			& ul li.disabled a:hover{
				  color: #777777;
				  text-decoration: none;
				  background-color: transparent;
			}
		}
		& button{
			display: inline;
			margin: 0.5em auto 0;
			border: none;
		}
		& .navbar-toggle:focus, & .navbar-toggle:hover {
			background-color: $darkBlack;
			border: 0.1em solid  $bluishBlack;
		}
		& .navbar-collapse, & .navbar-form{
			border: none;
		}
		& #tagline{
			text-indent: 0;
			text-align: center;
		}
	}
}
main {
	& section p.borderBottom{
		border-bottom: 1px solid $offWhite;
	}
	& section div.collapse p{
		border-bottom: none;
	}
	& p button.btn{
		float: right;
		background: none;
		border: none;
		box-shadow: none;
		&:focus, &:hover{
			background: none;
			border: none;	
		}
	}	
}
.carousel-control.left, .carousel-control.right{
	background-image: none;
	color: opacify($white, 1.0);
}
footer{
	background-image: linear-gradient(135deg ,$bluishBlack 0%,opacify($greyishGreen, 0.35) 50%,transparentize($darkBlack, 0.80) 75%);
	min-height: 10em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 0.5em -0.7em;
	border-radius: 1.5em;
	& div{
	margin: 0 auto;
	}
	& button.btn-default{
		background-image: linear-gradient(135deg ,$offWhite 0%,$darkBlack 50%);
		width: 9.5em;
		min-height: 4.25em;
		margin: 0 auto 0.5em;
	}
	& button.btn-default a{
		font-size: 2.2em;
	}
	& button.btn-default a:focus{
		text-decoration: none;
	}
	& p{
		margin: 0 auto;
		text-indent : 0;
		& small{
			text-align: center;
			font-size: 0.65em;
		}
	}
}
.btn-default:focus, .btn-default:hover{
	background: none;
	background-image: linear-gradient(135deg ,$offWhite 0%,$darkBlack 50%);
}