html{
 background-image: linear-gradient(to bottom,$offWhite 0%,$bluishBlack 25%,$greyishGreen 50%,$black 75%);
}
body {
  width: 80%;
  margin: 0 auto;
  background-color : $bluishBlack;
  color: #D1DBBD;
  font: 1.2em "Caudex", serif;
}
@for $item from 1 through 6{
  h#{$item} {
	  font-family : $cinzelDecor;
	  color : $greyishGreen;
	  font-weight: 900;
	}
}
h1{
	font-size: 2.2em;
	text-align: center;
}
h2{font-size: 2.0em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
p{
	text-indent: 1.5em;
	margin: 0 0 1em 0;
}
a{
	font-family: $berkshire;
	&:active{
		text-decoration: underline;
	}
	&:hover,&:focus{
		background-color: transparentize(#FFA500,0.5);
		color: orangered;
	}

}
strong{
	font-style: bold;
	font-weight: 700;
}
em{
	font-style : italic;
}
header{
    & .navbar-default{
	display: block;
	background-color: $darkBlack;
	background-image: none;
	border-color: $bluishBlack;
	padding : 1.5em;
		& .collapse.in,& .collapse,& .collapsing{
			& ul li{
				display: inline-block;
				width: 5.15em;
				& a{
					width: 4.583333333em;
					padding: 0.52em;
					min-height: 3.5em;
					display : inline-block;
					text-align: center;
					line-height: 1.85em;
					transition: all 0.5s ease-in-out;
				}
				& a:hover{
					background-color: transparentize(#FFA500,0.5);
					color: orangered;
				}
			}
		}
		& button{
			display: inline;
			margin: 0.5em auto 0;
			border: none;
		}
		& .navbar-toggle:focus, & .navbar-toggle:hover {
			background-color: $darkBlack;
			border: 0.1em solid  $bluishBlack;
		}
		& .navbar-collapse, & .navbar-form{
			border: none;
		}
		& #tagline{
			text-indent: 0;
		}
	}
}
main {
	& section p.borderBottom{
		border-bottom: 1px solid $offWhite;
	}
	& section div.collapse p{
		border-bottom: none;
	}
	& p button.btn{
		float: right;
		background: none;
		border: none;
		box-shadow: none;
		&:focus, &:hover{
			background: none;
			border: none;	
		}
	}	
}
footer{
	background-image: linear-gradient(135deg ,$bluishBlack 0%,opacify($greyishGreen, 0.35) 50%,transparentize($darkBlack, 0.80) 75%);
	min-height: 10em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 1em -0.78125em;
	border-radius: 1.5em;
	& div{
	margin: 0 auto;
	}
	& button.btn-default{
		background-image: linear-gradient(135deg ,$offWhite 0%,$darkBlack 50%);
		width: 9.5em;
		min-height: 4.25em;
		margin : 0 auto;
	}
	& button.btn-default a{
		font-size: 2.2em;
	}
	& button.btn-default a:focus{
		text-decoration: none;
	}
}
.btn-default:focus{
	background: none;
	background-image: linear-gradient(135deg ,#FCFFF5 0%,#000 50%);
}

