section.specialSection{
	background-color: $darkBlack;
	text-align: center;
	min-height: 10em;
	margin-top: 0.75em;
	border-radius: 0 0 1em 1em/0 0 0.5em 0.5em;
	@media screen and (min-width : 62em){
		&{
			border-width: 0.5em;
			border-style: solid;
			border-image: linear-gradient(to bottom,transparent, lighten(green, 40%),transparent) 1 100%;
			border-radius: 1em 1em 1em 1em/1em 1em 0.5em 0.5em;
			text-align: left;
			padding: 0.5em;
		}
		& ul{
			text-align: left;
		}
		& a p{
			font-family: $openSans;
			color: $aqua;
		}
	}
	& h3{
		text-shadow: 0.01em 0.01em 0.2em $whitishGreen;
	}
}
.carousel div.col-md-8 section.col-md-5{
	@media screen and (min-width : 62em){
		&{
			margin-left: -1%;
			font-size: 80%;
		}
		&:last-of-type{
			margin-left: 5%;
		}
	}
}
.carousel section.hidden-sm.hidden-xs{
	margin-top: 1em;
	padding: 1em;
	background-origin: padding-box;
	background-image: linear-gradient(135deg ,transparent 0,$darkGreen 30%,$darkBlack 50%,$darkGreen 80%,transparent 90%);
}
