ul.list-group{
	box-shadow : 0.1em 0.2em 0.1em 0.1em $black,-0.1em -0.2em 0.1em 0.1em $black;
	& li{
		font: 0.8em $cinzelDecor;
		@media screen and (min-width : 16em) and (max-width : 24.25em){
			& {
				font-size: 60%;
				text-align: left;
			}
			& button{
				margin: -0.7em 1em 0 0;
			}
		}
		color: lightcyan;
		border: 1px solid rgb(90,90,90);
		& button{
			margin: -0.4em 1.5em 0 0;
			}	
		}
	& li:nth-child(1){
		background: url("../images/lpLogo.jpg") top right/3em no-repeat,url('../images/stripedJukebox.jpg') 0%/cover no-repeat border-box;
	}
	& li:nth-child(2){
		background: url("../images/tfkLogo.jpg") top right/2.75em no-repeat,url('../images/stripedJukebox.jpg') 0%/cover no-repeat border-box;
	}
	& li:nth-child(3){
		background: url("../images/bmthLogo.jpg") top right/2.75em no-repeat,url('../images/stripedJukebox.jpg') 0%/cover no-repeat border-box;
	}
	& li:nth-child(4){
		background: url("../images/skilletLogo.png") center right/2.75em no-repeat,url('../images/stripedJukebox.jpg') 0%/cover no-repeat border-box;
	}
	& li:nth-child(5){
		background: url("../images/bmthLogo.jpg") top right/2.75em no-repeat,url('../images/stripedJukebox.jpg') 0%/cover no-repeat border-box;
	}
}

