//**********************Variables************************//
	
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Caudex:400,400i,700|Cinzel+Decorative:900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');

$offWhite : #FCFFF5;
$whitishGreen : #D1DBBD;
$greyishGreen : #91AA9D;
$bluishBlack : #3E606F;
$skyBlue : #ACF0F2;
$black : #193441;
$darkBlack : #000;
$lightBlue : #AACFFF;
$white : rgba(255, 255, 255, 0.34);
$orangeRed : orangered;
$darkBlue : #2B86C2;
$gold : gold;
$darkGreen : hsla(160,100%,10%,0.9);
$blue : hsla(210,100%,35%,1);
$brownish : hsla(50,70%,20%,0.8);
$lightGreen : hsla(160,100%,10%,0.6);
$footerNavBlue : #004050;
$aqua : #7FFFD4;


$cinzelDecor : 'Cinzel Decorative', serif;
$berkshire : 'Berkshire Swash', serif;
$openSans : 'Open Sans Condensed', sans-serif;