//**********************Variables************************//
	
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Caudex:400,400i,700|Cinzel+Decorative:900');

$offWhite : #FCFFF5;
$whitishGreen : #D1DBBD;
$greyishGreen : #91AA9D;
$bluishBlack : #3E606F;
$skyBlue : #ACF0F2;
$black : #193441;
$darkBlack : #000;


$cinzelDecor : 'Cinzel Decorative', serif;
$berkshire : 'Berkshire Swash', serif;
$caudex : 'Caudex', serif;
