//**********************Variables************************//
	
@import "https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative|Droid+Serif";

$offwhite : #FCFFF5;
$whitishGreen : #D1DBBD;
$greyishGreen : #91AA9D;
$bluishBlack : #3E606F;
$black : #193441;

$cinzelDecor : 'Cinzel Decorative', serif;
$droid : 'Droid Serif', serif;
$cinzel : 'Cinzel', serif;